div.dashboard {
    width: 100%;
    display: flex;
}

div#sidebar {
    width: 20%;
    background-color: rgb(64, 78, 103);
    color: white;
    padding-left: 20px;
}

div#sidebar h2 {
    margin-bottom: 50px;
}

div#info-ctr{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 50px 100px;
}