.uncompleted {
    color: red;
}

.completed {
    color: #4bb543;
}

#btn-ready {
    font-size: 16px;
    padding: 6px 8px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: #4bb543;
    cursor: pointer;
}
