#site-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

nav.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: center;
    letter-spacing: 0.05rem;
    padding: 0px;
    padding-right: 16px;
    color: rgb(64, 78, 103);
    box-shadow: 0px 10px 13px -11px rgba(0, 0, 0, 0.75);
    height: 55px;
}

nav.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 500;
}

nav.navbar ul a {
    text-decoration: none;
}
