#task-menu {
    margin: 50px auto;
}

#task-menu button {
    margin-left: 30px;
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    color: var(--clr-primary);
}

#task-menu button:hover {
    color: white;
    background-color: var(--clr-primary);
}

#task-menu button.active {
    color: white;
    background-color: var(--clr-primary);
}
